* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;

}
h1{
  font-size: 50px;
  line-height: 64px;
  color: #222;
}
h2{
  font-size: 46px;
  line-height: 54px;
  color: #222;
}
h4{
  font-size: 20px;
  color: #222;
}
h6{
  font-weight: 600;
  font-size: 12px;
}
p{
  font-size: 16px;
  color: #465b46;
}
body {
  /* background: #f5f5f5;
  padding: 20px; */
  width: 100%;

}
.section-p1{
  padding: 40px 80px;
}
.section-m1{
  margin: 40px 0;
}
#header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 80px;
   background: #E3E6F3;
   box-shadow: 0 5px 15px ragba(0,0,0,0.06);
   box-shadow: 0 5px 15px rgba(0,0,0,0.06);

   z-index: 999;
   position: sticky;
   top: 0;
   left: 0;
  
}
#Navbar{
  display: flex;
  align-items: center;
  justify-content: center;
}
#Navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#Navbar li a{
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: 0.3s ease;
}
#Navbar li a:hover
{
  color: #088178;
}
#Navbar li a.active{
   color: #088178;

}

#Navbar li a.active::after,
#Navbar li a:hover::after{
  content: "";
  width: 30px;
  height: 2px;
  background: #088178 ;
  position: absolute;
  bottom: -4px;
  left: 20px;
}
#mobile{
  display: none;
  align-items: center;
}
#close{
  display: none;
}

#hero{
  background-image: url("public/hero4.png");
  height: 90vh;
  width: 100%;
  background-size: cover;
  background-position: top 25% right 0;
  padding: 0 80px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
#hero h4{
  padding-bottom: 15px;

}
#hero h1{
  color: #088178;
  
}
#hero button{
  background-image: url("public/button.png");
  background-color: transparent;
  border: 0;
  border-radius: 12px;
  color: #088178;
  padding: 14px 80px 14px 65px;
  background-repeat: no-repeat;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
}
#feature{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
#feature .fe-box{
  width: 160px;
  text-align: center;
  padding: 25px 15px;
  box-shadow: 20px 20px 34px rgba(0,0,0,0.03);
  border: 1px solid #cce7d0;
  border-radius: 4px;
  margin: 15px 0;
}
#feature .fe-box img {
  width: 100%;
  margin-bottom: 10px;
}

#feature .fe-box:hover{
  box-shadow: 10px 10px 34px rgba(70,62,221,0.1);
}
#feature .fe-box h6{
  display: inline-block;
  padding: 9px 8px 6px 8px;
  line-height: 1;
  border-radius: 4px;
  color: #088178;
  background-color: #fddde4;
}

#feature .fe-box:nth-child(2) {
  background-color: #cdebbc;

}
#feature .fe-box:nth-child(3) {
  background-color: #d1e8f2;

}
#feature .fe-box:nth-child(4) {
  background-color: #cdd4f8;

}
#feature .fe-box:nth-child(6) {
  background-color: #f6dbf6;

}
#feature .fe-box:nth-child(5) {
  background-color: #fff2e5;
}


#product1{
  text-align: center;
}

#product1 .pro-container{
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  flex-wrap: wrap;
  
}
#product1 .pro{
    width: 23%;
    min-width: 250px;
    padding: 10px 12px;
    border-radius: 25px;
    border: 1px solid #cce7d0;
    box-shadow: 20px 20px 30px rgba(0,0,0,0.02);
    cursor: pointer;
    margin: 15px 0;
    transition: 0.2s ease;
    position: relative;
}
#product1 .pro:hover{
  box-shadow: 20px 20px 30px rgba(0,0,0,0.08);
   
}
#product1 .pro img{
  width: 100%;
  border-radius: 20px;

}
#product1 .pro .des{
  text-align: start;
  padding: 10px 0;

}
#product1 .pro .des span{
  color: #606063;
  font-size: 12px;
}
#product1 .pro .des h5{
  padding-top: 7px;
  color: #1a1a1a;
  font-size: 14px;
}

#product1 .pro .des i{
  font-size: 12px;
  color: rgb(243,181,25);
}
#product1 .pro .des h4{
  padding-top: 7px;
  font-size: 15px;
  font-weight: 700;
  color: #088178;
}
 #product1 .pro .Cart{
  width: 40px;
  height: 40px;
  line-height: 40px;
  border-radius: 50px;
  background-color: #e8f6ea;
  font-weight: 500;
  color: #088178;
  border: 1px solid #cce7d0;
  position: absolute;
  bottom: 20px;
  right: 10px;
  cursor: pointer;
}
#banner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-image: url("public/banner/b2.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  background-position: center;
}
#banner h4{
  font-size: 16px;
  color: #fff;
}

#banner h2{
  font-size: 30px;
  padding: 10px 0;
  color: #fff;
}
#banner h2 span {
  color: #ef3636;
}
button.normal{
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  border: none;
  outline: none;
  transition: 0.2s;
}
#newsletter{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("public/banner/b14.png");
  background-repeat: no-repeat;
  background-position: 20% 30%;
  background-color: #041e42;
}

#newsletter h4{
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

#newsletter p{
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}
#newsletter p span{
color: #ffbd27 ;
}
#newsletter .form{
  display: flex;
  width: 40%;
}

#newsletter input {
 font-size: 14px;
 width: 100%;
 border: 1px solid transparent;
 border-radius: 4px;
 outline: none;
 height: 3.125rem;
 padding: 0 1.25rem ;
  border-bottom-right-radius: 0;
   border-top-right-radius: 0;
  
}
#newsletter button{
  background-color: #088178;
  color: #fff;
  white-space: nowrap;
  border-bottom-left-radius: 0;
   border-top-left-radius: 0;
  
}
footer{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
footer .col{
  display: flex;
  /* flex-wrap: wrap; */
align-items: flex-start;
margin-bottom: 20px;
flex-direction: column;
}
footer .logo{
  margin-bottom: 30px;
}

footer h4{
  font-size: 14px;
  padding-bottom: 20px;
}
footer p{
  font-size: 13px;
  margin: 0 0 8px 0;
}
footer a{
  font-size: 13px;
  margin-bottom: 10px;
  text-decoration: none;
  color: #222;
}
footer .follow{
  margin-top: 20px;
}

footer .follow i{
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}
footer .install .row img{
  border: 1px solid #088178;
  border-radius: 6px ;

}
footer .install img {
  margin: 10px 0 15px 0;

}
footer .follow i:hover,
footer a:hover{
   color: #088178;
}

footer .copyright{
  width: 100%;
  text-align: center;
}

/* Shop Pgae */
#page-header{
  background-image: url("public/banner/b1.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}
#page-header h2,
#page-header p{
  color: #fff;
}
#pagination{
  text-align: center;
}
#pagination a{
  text-decoration: none;
  background-color: #088178;
  padding: 15px 20px;
  border-radius: 4px;
  color: #fff;
  font-weight: 600;
}
#pagination a i{
  font-size: 16px;
  font-weight: 600;
}

/* Single Product */
#prodetails { 
  display: flex;
  margin-top: 20px;
 } 

#prodetails .single-pro-image{
width: 40%;
margin-right: 50px;

}
.single-pro-details{
  width: 50%;
  padding-top: 30px;
}
.small-img-group{
  display: flex;
  justify-content: space-between;
}
.small-img-col{
  flex-basis: 24%;
  cursor: pointer;
}
#prodetails .single-pro-details {
  width: 50%;
  padding-top: 30px;
}
.single-pro-details h4{
  padding: 40px 0 20px 0 ;
}
.single-pro-details h2{
  font-size: 26px;
}

.single-pro-details select{

 
  display: block;
  padding: 5px 10px;
margin-bottom: 10px;
}
#prodetails .single-pro-details input{
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;

}
#prodetails .single-pro-details button{
  background: #088178;
  color: #fff;
}  

#prodetails .single-pro-details imput:focus{
  outline: none;
}

#prodetails .single-pro-details span{
  line-height: 25px;
}


 /* blog page */

#page-header.blog-header {
  background-image: url("public/blog/b19.jpg");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header.blog-header h2,
#page-header.blog-header p {
  color: #fff;
}


#blog {
  padding: 150px 150px 0 150px;
}


#blog .blog-box {
  display: flex;
  align-items: center;
  width: 100%;
  position: relative;
  padding-bottom: 90px;
}


#blog .blog-img {
  width: 50%;
  margin-right: 40px;
}

#blog img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 6px;
}


#blog .blog-details {
  width: 50%;
}

#blog .blog-details h4 {
  font-size: 22px;
  margin-bottom: 15px;
}

#blog .blog-details p {
  font-size: 15px;
  color: #555;
  margin-bottom: 20px;
  line-height: 1.6;
}


#blog .blog-details a {
  text-decoration: none;
  font-size: 13px;
  color: #000;
  font-weight: 700;
  position: relative;
  transition: 0.3s;
}

#blog .blog-details a::after {
  content: "";
  width: 50px;
  height: 1px;
  background: #000;
  position: absolute;
  top: 8px;
  right: -60px;
}

#blog .blog-details a:hover {
  color: #088178;
}

#blog .blog-details a:hover::after {
  background: #088178;
}


#blog .blog-box h1 {
  position: absolute;
  top: -40px;
  left: 0;
  font-size: 70px;
  font-weight: 700;
  color: #c9cbce;
  z-index: -1;
}
/* About Page */

#page-header.about-header {
  background-image: url("public/about/b11.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header.about-header h2,
#page-header.about-header p {
  color: #fff;
}


#about-head {
  display: flex;
  align-items: center;
}

#about-head img {
  width: 50%;
  height: auto;
  border-radius: 6px;
}

#about-head div {
  padding-left: 40px;
}

#about-head h2 {
  font-size: 32px;
  margin-bottom: 20px;
}

#about-head p {
  font-size: 15px;
  color: #555;
  line-height: 1.7;
}

#about-head abbr {
  font-style: italic;
  color: #333;
}
/* contact Page */



#page-header.contact-header {
  background-image: url("public/about/b11.png");
  width: 100%;
  height: 40vh;
  background-size: cover;
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  padding: 14px;
}

#page-header.contact-header h2,
#page-header.contact-header p {
  color: #fff;
}


#contact-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#contact-details .details {
  width: 40%;
}

#contact-details .details span {
  font-size: 12px;
}

#contact-details .details h2 {
  font-size: 26px;
  line-height: 35px;
  padding: 20px 0;
}

#contact-details .details h3 {
  font-size: 16px;
  padding-bottom: 15px;
}

#contact-details .details li {
  list-style: none;
  display: flex;
  padding: 10px 0;
}

#contact-details .details li i {
  font-size: 14px;
  padding-right: 22px;
}

#contact-details .details li p {
  margin: 0;
  font-size: 14px;
}

#contact-details .map {
  width: 55%;
  height: 400px;
}

#contact-details .map iframe {
  width: 100%;
  height: 100%;
}


#form-details {
  display: flex;
  justify-content: space-between;
  margin: 30px;
  padding: 80px;
  border: 1px solid #e1e1e1;
}

#form-details form {
  width: 65%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


#form-details form span {
  font-size: 12px;
}
.Max{
      font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    /* background-color: #fff; */
    border-radius: 4px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.2s;
}

#form-details form h2 {
  font-size: 26px;
  padding: 20px 0;
}

#form-details form input,
#form-details form textarea {
  width: 100%;
  padding: 12px 15px;
  outline: none;
  margin-bottom: 20px;
  border: 1px solid #e1e1e1;
}

#form-details .people div {
  padding-bottom: 25px;
  display: flex;
  align-items: flex-start;
}

#form-details .people div img {
  width: 65px;
  height: 65px;
  object-fit: cover;
  margin-right: 15px;
}

#form-details .people div p {
  margin: 0;
  font-size: 13px;
  line-height: 25px;
}

#form-details .people div p span {
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: #000;
}

/* Cart Page */
#cart{
  overflow-x: auto;
}
#cart table{
width: 100%;
border-collapse: collapse;
table-layout: fixed;
white-space: nowrap;

}
#cart table img{
  width: 70px;
}
#cart table td:nth-child(1){
  width: 100px;
  text-align: center;
}

#cart table td:nth-child(2){
  width: 150px;
  text-align: center;

}
#cart table td:nth-child(3){
  width: 250px;
  text-align: center;

}
#cart table td:nth-child(4),
#cart table td:nth-child(5),
#cart table td:nth-child(6)
{
  width: 150px;
  text-align: center;

}
#cart table td:nth-child(5) input{
  width: 70px;
  padding: 10px 5px 10px 15px;
}
#cart table thead{
  border: 1px solid #e2e9e1;
  border-left: none;
  border-right: none;
}

#cart table thead td{
  font-weight: 700;
  text-transform: uppercase;
  font-size: 13px;
  padding: 18px 0 ;
}

#cart table tbody tr td{
  padding-top: 15px;

}
#cart table tbody td{
  font-size: 13px;

}
#cart-add {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

 #coupon{
width: 50%;
margin-bottom: 30px;


}
#coupon h3{
  padding-bottom: 15px;
}
#coupon input{
  padding: 10px 20px;
  outline: none;
  width: 60%;
  margin-right: 10px;
  border: 1px solid #e2e9e1;
}
#coupon button{
  background-color: #088178;
  color: #fff;
  padding: 12px 20px;
}
#subtotal {
  width: 50%;
  margin-bottom: 30px;
  border: 1px solid #e2e9e1;
  padding: 30px;
}
#subtotal table {
  border-collapse: collapse;
  width: 100%;
  margin-bottom: 20px;
}

#subtotal table td {
  width: 50%;
  border: 1px solid #e2e9e1;
  padding: 10px;
  font-size: 13px;
}
#subtotal button{
   background-color: #088178;
  color: #fff;
  padding: 12px 20px;
  
}


























@media (max-width: 799px) {
  #cart-add {
    flex-direction: column;
  }

  #coupon,
  #subtotal {
    width: 100%;
    padding: 20px;
  }
}






/* Responsive */
@media (max-width: 799px) {
  #contact-details {
    flex-direction: column;
  }

  #contact-details .details,
  #contact-details .map {
    width: 100%;
  }

  #form-details {
    padding: 40px;
    flex-direction: column;
  }

  #form-details form {
    width: 100%;
    margin-bottom: 30px;
  }
  #about-head {
    flex-direction: column;
  }

  #about-head img {
    width: 100%;
    margin-bottom: 20px;
  }

  #about-head div {
    padding-left: 0;
  }
   #blog {
    padding: 100px 50px 0 50px;
  }

  #blog .blog-box {
    flex-direction: column;
    align-items: flex-start;
  }

  #blog .blog-img {
    width: 100%;
    margin-right: 0;
    margin-bottom: 30px;
  }

  #blog .blog-details {
    width: 100%;
  }
}






@media (max-width: 477px) {
  #blog {
    padding: 100px 20px 0 20px;
  }

  #blog .blog-box h1 {
    font-size: 50px;
    top: -30px;
  }
   .section-p1{
    padding: 40px 40px;
  }
  #Navbar {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 0;
    right: -300px;
    height: 100vh;
    width: 300px;
    background-color: #E3E6F3;
    padding: 80px 20px;
    transition: 0.3s;
  }
  #Navbar.active{
    right: 0;
  }

  #mobile{
  display: flex;
  align-items: center;
}
#mobile i{
  font-size: 24px;
  color: #1a1a1a;
  padding-left: 20px;
}
#close{
  position: absolute;
  display: initial;
  top: 30px;
  left: 30px;
  color: #222;
  font-size: 24px;
  cursor: pointer;
}
#lg-bag{
  display: none;
}
#hero{
  height: 70vh;
  padding: 0 80px;
  background-position: top 30% right 30%;
}
#feature{
  justify-content: center;
}
#feature .fe-box{
  margin: 15px 15px;
}
#product1 .pro-container {
  justify-content: center;
}
#product1 .pro{
  margin: 15px;
}
#banner{
  height: 20vh;
}
#newsletter .form{
  width: 70%;
}
.section-p1{
    padding: 20px;
  }
      #header{
        padding: 10px 30px;
      }
      #hero{
        padding: 0 20px;
        background-position: 55%;
      }
      h1{
        font-size: 38px;
      }
      h2{
        font-size: 32px;
      }
      #feature{
        justify-content: space-between;
      }
      #feature .fe-box{
        width: 155px;
        margin: 0 0 15px 0;
      }
      #product1 .pro{
        width: 100%;
      }
      #banner{
        height: 40vh;
      }
      #newsletter{
        padding: 40px 20px;
      }
      #newsletter .form{
        width: 100%;
      }
      footer .copyright{
        text-align: start;
      }


      
      #prodetails{
        display: flex;
        flex-direction: column;
      }
      #prodetails .single-pro-image{
        width: 100%;
        margin-right: 0px;
      }
       #prodetails .single-pro-details{
        width: 100%;
         
       }

}
















